html,
body {
  box-sizing: border-box;
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  color: $test;
  font-size: 2.369em;
}

h2 {
  font-size: 1.777em;
  font-weight: bold;
}

h3 {
  font-size: 1.333em;
  font-weight: bold;
}

h4 {
  color: #A9671B;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0;
}

p,
a,
button,
input {
  font-size: 1em;
  font-weight: normal;
}

a {
  color: $orange;
  font-weight: bold;
}

.subscript {
  font-size: .75em;
}

button {
  background-color: $orange;
  border: solid 2px $orange;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  padding: 8px 10px;
  margin: 5px;

  &.primary {
    background-color: $blue;
    border: solid 2px $blue;
  }
}

.screen-reader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main {
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}

.main-column {
  box-sizing: border-box;
  width: 63%;
}

.side-column {
  box-sizing: border-box;
  width: 35%;
}

.full-column {
  box-sizing: border-box;
  width: 100%;
}

.column {
  min-width: 150px;
}

.line-item {
  align-items: center;
  border-bottom: 3px solid #A9671B;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: left;
}
