html,
body {
  box-sizing: border-box;
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

h1 {
  color: $test;
  font-size: 2.369em;
}

h2 {
  border-bottom: 2px solid $blue;
  color: $blue;
  font-size: 1.777em;
  font-weight: bold;
}

h3 {
  font-size: 1.333em;
  font-weight: bold;
}

h4 {
  color: #A9671B;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0;
}

p,
a,
button,
input,
textarea,
select {
  font-size: 1em;
  font-weight: normal;
}

a {
  color: $orange;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.subscript {
  font-size: .75em;
}

.screen-reader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main {
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}

.full-column {
  box-sizing: border-box;
  width: 100%;
}

.column {
  box-sizing: border-box;
  margin: 5px 0;
  min-width: 150px;
}

.blue {
  color: $blue;
}

@media(min-width: 750px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }

  .main-column {
    box-sizing: border-box;
    width: 60%;
  }

  .side-column {
    box-sizing: border-box;
    width: 37%;
  }
}
