.field-group {
  margin: 35px auto;

  &:first-child {
    margin: 25px auto;
  }

  h1,
  h2,
  .headers {
    border-bottom: 1px solid $lightGrey;
    color: $darkGrey;
    margin-bottom: 0.5em;
  }

  .field-group h2 {
    color: $orange;
    font-size: 1.4em;
  }

  span {
    font-size: 0.8em;
    font-weight: lighter;
    margin-top: 5px;
  }
}

label {
  color: $orange;
  display: block;
  margin: 5px 0 10px;
}

button {
  background-color: $orange;
  border: solid 2px $orange;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  padding: 10px 20px;
  margin-right: 15px;

  &.link {
    background-color: transparent;
    border: none;
    color: $orange;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &.primary {
    background-color: $blue;
    border: solid 2px $blue;

    &:hover {
      background-color: $white;
      color: $blue;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &:disabled {
    background-color: $white;
    color: $orange;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-group {
  border-radius: 0;
  box-sizing: border-box;
	display: block;
  margin: 25px auto 0;
	padding: 0;
	position: relative;
	transition: border-color .3s;
  width: 100%;

  .subscript {
    margin: 5px auto;
    font-style: italic;
  }

  &.filled {
    label {
      transform: translateY(-22px);
    }
  }

  label {
    background-color: $white;
    box-sizing: border-box;
    font-family: Muli;
    left: 10px;
    margin: 0;
    overflow: hidden;
    padding: 3px;
    pointer-events: none;
    position: absolute;
    top: 7px;
    transition-duration: .3s;
    transition-property: color, transform;
  }

  &.popup {
    padding: 0;

    label {
      top: -20px;
    }
  }

  input,
  textarea {
    background-color: transparent;
		border: 1px solid $blue;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;
    font-family: Muli;
  	height: 40px;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;

    &:focus,
    &:not([value=""]),
    &[type="date"],
    &:disabled {
      outline: none;

      ~ label {
       transform: translateY(-20px)
      }
    }

    &:focus {
      outline: $orange auto 2px;
      border-color: $orange;
    }

    &:disabled {
      color: $grey;

      + label {
       transform: translateY(-20px)
      }
    }
  }
}

.textarea {
  border-radius: 0;
  box-sizing: border-box;
	display: block;
  margin: 25px auto;
	padding: 0;
	position: relative;
	transition: border-color .3s;
  width: 100%;

  label {
    background-color: $white;
    box-sizing: border-box;
    font-family: Muli;
    left: 10px;
    margin: 0;
    overflow: hidden;
    padding: 3px;
    pointer-events: none;
    position: absolute;
    top: -13px;
    transition-duration: .3s;
    transition-property: color, transform;
  }

  textarea {
    background-color: transparent;
		border: 1px solid $blue;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;
    font-family: Muli;
  	height: 40px;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;

    &:focus {
      outline: $orange auto 2px;
      border-color: $orange;
    }
  }
}

form {
  box-sizing: border-box;
  margin: 10px auto 20px;
}

.textarea label {
  margin-bottom: 10px;
}

.error {
  input,
  textarea,
  select,
  .selectBox {
    border-color: $error;
  }

  label,
  span {
    color: $error;
  }
}



@media(min-width: 750px) {
  .flex {
    .form-group {
      flex: 1;
      margin-right: 20px;
      min-width: 40%;
    }
  }
}
