.low-select {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 100%;

  .selectInput {
    display: none;

    &:checked + .selectLabel {
      background: $blue;
      color: $white;
      border: solid 2px $blue;

      &:hover {
        background: $orange;
        border: solid 2px $orange;
        color: $white;
      }
    }
  }

  .selectButtons {
    flex: 1;

    &:first-child .selectLabel {
      border-left: solid 2px $blue;
    }
  }

  .selectLabel {
    align-items: center;
    border: solid 2px $blue;
    box-sizing: border-box;
    color: $blue;
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 15px;
    margin: 0;
    min-height: 50px;
    min-width: 120px;
    text-align: center;

    &:hover {
      background: $orange;
      border: solid 2px $orange;
      color: $white;
    }
  }
}

.select {
  display: flex;
  flex-flow: column;
  margin: 15px auto;

  select {
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;
    font-family: Muli;
    height: 40px;
    margin: 0;
    padding: 8px 10px;
    text-align: center;

    &:focus {
      outline: $orange auto 2px;
      border-color: $orange;
    }
  }
}

.selectBox {
  background: url(./arrow.png) no-repeat 100% 0;
  border: 1px solid $blue;
  border-radius: 0;
  box-sizing: border-box;
  color: $black;
  font-family: Muli;
  cursor: pointer;
  height: 29px;
  overflow: hidden;
  padding: 0 40px 0 10px;
  width: 240px;
  -webkit-appearance: none;
  -moz-appearance: none;

  option {
    background-color: $orange;
  }

  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;

    &::-ms-expand {
      display: none;
    }
  }

  &:disabled {
    color: $grey;
    background-image: none;
  }
}

.user_info {
  display: flex;
  flex-flow: row wrap;

  .select,
  .selectBox {
    width: 100%;
  }
}

@media(min-width: 750px) {
  .user_info {
    .select {
      flex: 1;
      margin-right: 20px;
      min-width: 40%;
    }

    .selectBox {
      width: 100%;
    }
  }

  .low-select {
    .selectLabel {
      border-left: 0;
      display: block;
      min-height: 0px;
    }
  }
}
