html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #61DAFB;
  cursor:pointer;
}

.main {
  margin: auto;
  padding: 20px 10px;
  text-align: left;
  width: 80%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label {
  display: block;
  margin: 10px 0;
}

nav a {
  display: block;
  padding: 10px;
  background: black;
  color: white;
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.checkbox.who {
  width: 50%;
}

.requests {
  padding: 20px;
}

.form {
  padding: 5px 20px;
  text-align: left;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .form-label {
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.main {
  display: flex;
  justify: space-between;
}

.main-column {
  width: 60%;
}

.side-column {
  width: 30%;
}
